@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
}
html,body {
    height: 100%;
    width: 100%;
    background-color: #1b1b1b;
}
.grid{
    padding:20px;
    display:grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:10px;
}

/* BOX BASE STYLE */

.box{
    background:#f7f7ff;
    border-radius:18px;
    padding:20px;
    color:#27187d;
}

/* LEFT HABIT BOX */

.reading{
    grid-column: span 1;
    min-width: 0;
}

.days{
    display:flex;
    display:grid;
    grid-template-rows: repeat(7,18px);
    gap:10px;
}
.reading h3{
    color: #27187d;
    font-size: 2rem;
    font-weight: 900;
}
.days span{
    color: white;
    background:#27187d;
    padding:5px 10px;
    border-radius:6px;
    height: 23px;
    font-size: 0.6rem;
}

#days-grid{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin-top: 35px;
}

/* GITHUB STYLE GRID */

.github-grid{
    display:grid;
    grid-template-columns: repeat(52,20px);
    grid-template-rows: repeat(7, 23px);
    grid-auto-flow: column;

    gap:5px;
    overflow-x:auto ;
}

.github-grid::-webkit-scrollbar{
    height: 1px;
}

.github-grid::-webkit-scrollbar-thumb{
    background:#444;
    border-radius:10px;
}

.github-grid div{
    width:100%;
    height:100%;
    background:#02182B;
    border-radius:3px;
}

.github-grid .active{
    background:#7fff00;
}

/* LOGO BOX */

.logo-box{
    background:linear-gradient(135deg,#27187d,#3d2cbf);
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:2rem;
    font-weight:600;
}
.logo-box h2{
    color: white;
    transform: translateX(15%);
    z-index: 10;
}
.logo-box img{
    width: 120px;
    height: 150px;
    mix-blend-mode: multiply;
}

/* ICON BOX */

.icons{
    display:grid;
    grid-template-columns:1fr 1fr;
    font-size:24px;
    place-items:center;
}

/* ANALYTICS */

.analytics{
    grid-row: span 1;
}

/* TIMER */

.timer{
    grid-column: span 1;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock{
    font-size:2.5rem;
    margin:10px 0;
}

/* QUOTE */

.quote{
    color: white;
    grid-column: span 3;
    background-color: royalblue;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.quote img{
    height:100%;
    width:40%;
    object-fit:cover;
    border-radius:12px;
}

.quote-text h2{
    font-size:2rem;
}

.quote-text p{
    margin-top:10px;
    opacity:0.8;
}

.quote{
    grid-column: span 3;
    background:#27187d;
    color:white;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:30px;
}

.quote-text{
    max-width:60%;
}

.quote-text h2{
    font-size:2rem;
    font-weight:700;
}

.quote-text p{
    margin-top:10px;
    opacity:0.85;
}

.quote-illustration{
    display:flex;
    align-items:center;
    justify-content:center;
}
.quote{
    background:linear-gradient(135deg,#27187d,#3d2cbf);
}
/* PRODUCTIVITY */

.prod{
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:500;
}

#tooltip{
    position:absolute;
    background:#111;
    color:#27187d;
    padding:5px 8px;
    border-radius:6px;
    font-size:12px;
    pointer-events:none;
    opacity:0;
    transition:opacity 0.15s;
}


.future-day{
    opacity:0.3;
    pointer-events:none;
}

.analytics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.analytics div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 10px solid #ff6536;
    padding: 10px 50px;
    margin: 10px 0;

}

.analytics img{
    background:#f7f7ff;
    transform: translateY(-90%);
    width: 35px;
    height: 40px;
    border-radius: 100%;
}

.analytics p{
    font-family: "Kanit", sans-serif;    
    transform: translate(-10%,-20%);
    color: #27187d;
    font-weight: 700;
    font-size: 3rem;
}



/* pomodoro */
.pomodoro-controls{
    display:flex;
    justify-content:center;
    align-items: center;
    gap:15px;
    margin-top:10px;
}

.pomodoro-controls i{
    font-size:52px;
    cursor:pointer;
    color:#27187d;
    transition:0.2s;
}

.pomodoro-controls i:hover{
    transform:scale(1.2);
}


/* Music Player */

.main{
    padding: 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#music-player{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#player{
    width: 90%;
    height: 90%;

}

#player #song{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

#song-name{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#3d2cbf;
    font-weight: 500;
    font-size: 1.4rem;
}

#song-author{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#3d2cbf;
    font-size: 1.2rem;
}

#player #song #song-image{
    height: 10rem;
    width: 10rem;
    position: relative;
}

#song-image i{
    position: absolute;
    bottom: 5px;
    left:-10%;
    font-size: 30px;
    color: white;
    transition: all 0.1s ease-in;
    cursor: pointer;
}

#song-image i.liked{
    font-size: 32px;
    color: crimson;
}


#song-image img{
    background:#27187d ;
    box-shadow: 0 0 30px rgba(0,0,0,0.6);
    border: 3px solid white;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    /* fade */
    transition:opacity 1s ease;
    opacity: 1;
    
}

.fade-out{
    opacity: 0;
}

.rotate{
    animation: rotate 6s linear infinite;
}
@keyframes rotate{
    from {transform: rotate(0deg);}

    to{transform: rotate(360deg);}
}



#progress-bar{
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: 4px 4px 12px 2px black;
    background-color: white;
    width: 60%;
    height: 6px;
    border-radius: 20px;
    overflow: hidden;
    transition: width 1s ease-in;
}
#progress-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background: #3d2cbf;
    border-radius: 50%;
    cursor: pointer;
}
/* controls */
#media-controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#controls{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px; /* spacing between buttons */
}

#controls div{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#prev i{
    font-size: 1.5rem;
    color:black;
    transition: 0.2s ease;
}

#next i{
    font-size: 1.9rem;
    color:black;
    transition: 0.2s ease;
}

#pause i{
    font-size: 2.5rem;   /* Bigger center button */
    color:#3d2cbf;
    border-radius: 100%;
    transition: 0.2s ease;
}
#controls i:hover{
    transform: scale(1.15);
}

#inner{
    height: 30px;
    width: 30px;
    position: absolute;
    z-index: 100;
    border: 1px solid white;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: inset 10px 10px 10px black;
}